tab-tab5{

   

    
    
}

//Avatar
.profile{
    width: 90px;
    height: 90px;
    margin: left;
    background-image: grey;

}

//label de Puntacion
.Puntacion{

    color: black; 
    font-weight: bold;
    margin-inline-start: 10px;
    
}

.divpunta{
    align-content: flex-end;
    float:left;
    margin-left:5px;

}


.Eventos{
   
    color: black; 
    font-weight: bold; 
  
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
      width: 120px;
      text-align: center;
    }
}

.progress{
    border: 4px inset rgb(107, 194, 90);
    background-color:rgb(2, 39, 250);
    border-radius : 20px ;
    width: 80px;
    margin-right:auto;
    margin-inline-start: 19.5px;
}

.img{
    width: 60px;
    height: 60px;
    border-radius:150px;
}

.boton{
    border-radius:5px;
}

.welcome-card{
    border-radius:20px;
}


