<ion-header>
  <ion-toolbar>
    <ion-title text center class="title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--Pagina-->
  <ion-row>
    
      <!--Imagen de Perfil-->
      <ion-avatar class="profile">
        <img src="../../assets/IMG-20160313-WA005.jpg">
      </ion-avatar>
      
      <!--Muestra de tu puntaje-->
      <label for="puntacion">Puntacion</label>
        <!--Nombre de la Cuenta-->
        <ion-card-title text-center>
          Cesar Josue Vargas
        </ion-card-title>

      <ion-row>
        
        
          <ion-card class="card">
                <img class="img" src="../../assets/icono_beer.png"/>
          </ion-card>
        

        <ion-card class="card">
            <img class="img" src="../../assets/icono_libro.jpg"/>
        </ion-card>

        <ion-card class="card">
            <img class="img" src="../../assets/icono_ticket.png"/>
        </ion-card>
      </ion-row>


  </ion-row>

</ion-content>
