tab-tab5{

   

    
    
}

//Avatar
.profile{
    width: 95px;
    height: 95px;
    margin: left;
    background-image: grey;

}

//label de Puntacion
.Puntacion{

    color: black; 
    font-weight: bold;
    
}

.Eventos{
   
    color: black; 
    font-weight: bold; 
  
}

.card{
    width: 60px;
    height: 60px;
    border-radius:150px;
      

}

.img{
    width: 60px;
    height: 60px;
    border-radius:150px;
}

.boton{
    border-radius:5px;
}

