tab-tab5{

    .title{
        background-color: #FA8072;
        color: white;
        font-style: inherit;
        font-size:1.2em;
    }

    
    
}


.profile{
    width: 100px;
    height: 95px;
    margin: left;
    background-image: grey;

}

.labels{
    margin: right ;
}

.card{
    width: 60px;
    height: 60px;
    border-radius:150px;
      

}

.img{
    width: 60px;
    height: 60px;
    border-radius:150px;
}

.boton{
    border-radius:5px;
}